@model Prospectus.Models.Produto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoCusto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAtivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isExcluido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isExcluido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NCM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NCM)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
