@using Prospectus.Extensions
@model IEnumerable<Prospectus.Models.Produto>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />

<p>
    <a class="btn btn-info" asp-action="Create">Adicionar</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th width="320px">
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PrecoCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoCusto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAtivo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NCM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @item.PrecoCompra.ToString(format: "C")
                </td>
                <td>
                    @item.PrecoCusto.ToString(format: "C")
                </td>
                <td>
                    @item.PrecoVenda.ToString(format: "C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAtivo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NCM)
                </td>
                <td class="text-right" width="160px">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil"></span></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
