@model Prospectus.Models.Prospect

@{
    ViewData["Title"] = "Excluir";
}

<h3 style="padding-top: 50px ">Excluir Prospect?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oportunidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oportunidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recepcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recepcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cenario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cenario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatisfacaoCenario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatisfacaoCenario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indicador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indicador.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>
