@using Prospectus.Extensions
@model Prospectus.Models.Prospect

@{
    ViewData["Title"] = "Detalhes";
}
<h3 style="padding-top: 50px ">Detalhes do Prospect</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oportunidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oportunidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recepcao)
        </dt>
        <dd class = "col-sm-10">
            @this.FormataReceptividade(Model.Recepcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cenario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cenario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatisfacaoCenario)
        </dt>
        <dd class = "col-sm-10">
            @this.FormataSatisfacaoCenario(Model.SatisfacaoCenario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indicador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indicador.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
